---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="InterpreterStrike">
	<main>
        <h1>Contact</h1>
        
    </main>
</Layout>
