---
import Layout from '../../layouts/Layout.astro';
import Formulario from '../../components/Formulario.astro';
---


<Layout title="InterpreterStrike">
  <main>
    <Formulario
      title="Contact"
      nameLabel="Name"
      lastNameLabel="Last Name"
      businessNameLabel="Business Name"
      telephoneLabel="Telephone"
      emailLabel="Email"
      commentsLabel="Comments"
      submitButtonText="Submit"
      requiredText="Please complete the required fields."
    />
  </main>
</Layout>
