--- 
import Layout from '../../layouts/Layout.astro';
import Formulario from '../../components/Formulario.astro';
---

<Layout title="Contact">
  <main>
    <Formulario
      title="Contact"
      nameLabel="First Name"
      lastNameLabel="Last Name"
      businessNameLabel="Business Name"
      telephoneLabel="Telephone"
      emailLabel="Email"
      commentsLabel="Comments"
      submitButtonText="Submit"
      requiredText="Please fill out the required fields."
    />
  </main>
</Layout>
