---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Cookies Policy">
  <main>
    <div class="content">
      <h2>Cookies Policy</h1>
      <p>
        InterpreterStrike uses cookies to enhance your experience on our website. This Cookies Policy explains what cookies are, how we use them, and how you can manage them.
      </p>

      <h2>What Are Cookies?</h2>
      <p>
        Cookies are small text files that are stored on your device when you visit a website. They help us remember your preferences and enhance your user experience.
      </p>

      <h2>How We Use Cookies</h2>
      <p>
        We use cookies to:
      </p>
      <ul>
        <li>Remember your preferences and language settings.</li>
        <li>Improve the performance and security of our website.</li>
        <li>Analyze website traffic and user behavior.</li>
      </ul>

      <h2>Managing Cookies</h2>
      <p>
        You can manage or disable cookies through your browser settings. Please note that disabling cookies may affect your experience on our website.
      </p>

      <h2>Changes to This Policy</h2>
      <p>
        We may update this Cookies Policy from time to time. Any changes will be posted on this page with an updated revision date.
      </p>

      <h2>Contact Us</h2>
      <p>
        If you have any questions about this Cookies Policy, please contact us at:
      </p>
      <ul>
        <li>Email: info@interpreterstrike.com</li>
        <li>Phone: +123 456 7890</li>
        <li>Address: Interpretation Street, 123, City, Country</li>
      </ul>
    </div>
  </main>
</Layout>

<style>
  .content {
    background-color: rgba(249, 249, 249, 0.659); 
    padding: 35px;
  }
</style>
