---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="Interpreters Booth">
	<main>
          
        <div class="content">
            <h1>Interpretation</h1>
    
            <div class="section">
                <h2>Professional Interpretation Services</h2>
                <p>At Interpreters Booth, we provide high-quality interpretation services to ensure effective and accurate communication in a wide range of settings. Our team of experienced interpreters is ready to assist in conferences, business meetings, legal events, and more.</p>
            </div>
    
            <div class="section">
                <h2>What We Offer</h2>
    
                <h3>Simultaneous Interpretation</h3>
                <ul>
                    <li><strong>Conferences:</strong> Real-time interpretation for conferences and seminars.</li>
                    <li><strong>International Events:</strong> Assistance at trade fairs, congresses, and international meetings.</li>
                    <li><strong>Live Broadcasts:</strong> Interpretation for live broadcast events.</li>
                </ul>
    
                <h3>Consecutive Interpretation</h3>
                <ul>
                    <li><strong>Business Meetings:</strong> Interpretation during corporate meetings and negotiations.</li>
                    <li><strong>Interviews:</strong> Assistance in interviews and Q&A sessions.</li>
                    <li><strong>Presentations:</strong> Interpretation for product presentations and launches.</li>
                </ul>
    
                <h3>Legal Interpretation</h3>
                <ul>
                    <li><strong>Judicial Hearings:</strong> Interpretation in courts and legal proceedings.</li>
                    <li><strong>Legal Consultations:</strong> Interpretation for consultations and meetings with lawyers.</li>
                    <li><strong>Statements:</strong> Assistance in taking statements and testimonies.</li>
                </ul>
    
                <h3>Medical Interpretation</h3>
                <ul>
                    <li><strong>Medical Consultations:</strong> Interpretation during medical consultations and visits.</li>
                    <li><strong>Medical Conferences:</strong> Assistance at health sector conferences and seminars.</li>
                    <li><strong>Therapy Sessions:</strong> Interpretation for therapy sessions and psychological consultations.</li>
                </ul>
            </div>
    
            
    
            
        </div>
        
    </main>
</Layout>
<style>
    .content {
      background-image: none;
      background-color: rgba(249, 249, 249, 0.659);
      padding: 35px;
    }
  </style>