---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="Interpreters Booth">
	<main>
       
    <body>
        <div class="content">
            <h1>Translation</h1>
    
            <div class="section">
                <h2>Professional Translation Services</h2>
                <p>At InterpreterStrike, we offer a wide range of translation services to meet the needs of our clients in various sectors. Our team of professional translators specializes in multiple areas and ensures accuracy, confidentiality, and quality in every project.</p>
            </div>
    
            <div class="section">
                <h2>What We Offer</h2>
    
                <h3>Technical Translations</h3>
                <ul>
                    <li><strong>Technical Documentation:</strong> Manuals, user guides, technical specifications.</li>
                    <li><strong>Engineering and Technology:</strong> Patents, technical reports, software documentation.</li>
                    <li><strong>Scientific and Medical:</strong> Scientific articles, medical reports, clinical studies.</li>
                </ul>
    
                <h3>Legal Translations</h3>
                <ul>
                    <li><strong>Contracts and Agreements:</strong> Translation of contracts, confidentiality agreements, legal terms.</li>
                    <li><strong>Judicial Documents:</strong> Judgments, lawsuits, testimonies.</li>
                    <li><strong>Notarial Documentation:</strong> Certificates, wills, notarial powers.</li>
                </ul>
    
                <h3>Commercial and Marketing Translations</h3>
                <ul>
                    <li><strong>Marketing Materials:</strong> Brochures, advertising campaigns, web content.</li>
                    <li><strong>Financial Reports:</strong> Balance sheets, annual reports, audits.</li>
                    <li><strong>Corporate Communications:</strong> Emails, press releases, presentations.</li>
                </ul>
    
                <h3>Literary and Academic Translations</h3>
                <ul>
                    <li><strong>Books and Manuscripts:</strong> Novels, short stories, plays.</li>
                    <li><strong>Academic Articles:</strong> Essays, theses, scientific publications.</li>
                    <li><strong>Educational Material:</strong> Textbooks, study guides, learning materials.</li>
                </ul>
            </div>
    
            
    
        
    </main>
</Layout>
<style>
    .content {
      background-image: none;
      background-color: rgba(249, 249, 249, 0.659);
      padding: 35px;
    }
  </style>