---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Interpreters Booth">
	<main>
		
		<h1>Bienvenido a Interpreters Booth!</h1>
		<p class="instructions">
			Bienvenido a Interpreters Booth, tu socio de confianza para servicios de interpretación y traducción profesional. Ofrecemos soluciones lingüísticas precisas y eficientes para todas tus necesidades comunicativas.

		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Servicios de Interpretación en Tiempo Real"
				body="Brindamos interpretación simultánea y consecutiva para conferencias, reuniones y eventos, asegurando una comunicación fluida y precisa en cualquier idioma."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Traducciones Técnicas y Especializadas"
				body="Nuestro equipo de expertos traductores maneja documentos técnicos, legales y médicos con la máxima precisión y confidencialidad."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Asesoramiento Lingüístico Personalizado"
				body="Ofrecemos consultoría lingüística para ayudarte a desarrollar estrategias de comunicación efectivas y adaptadas a tus necesidades específicas."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Formación y Talleres de Idiomas"
				body="Mejora tus habilidades lingüísticas con nuestros cursos y talleres personalizados, diseñados para profesionales y empresas que buscan dominar nuevos idiomas."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #000000;
		font-size: 20px;
		line-height: 1.6;
	}
	
	body {
                font-family: Arial, sans-serif;
                line-height: 1.6;
                margin: 0;
                padding: 20px;
                color: #333;
                background-color: #f9f9f9;
            }
            h1, h2, h3 {
                color: #c14747;
            }
            .content {
                max-width: 800px;
                margin: auto;
            }
            .section {
                margin-bottom: 2rem;
            }
            ul {
                padding-left: 20px;
            }
	.text-gradient {
		background-image: var(--accent-gradient);		
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>