<!-- InstagramButton.astro -->
<div class="social-button instagram-button">
  <a
    href="https://www.instagram.com/InterpretersBooth/"
    target="_blank"
    aria-label="Visita nuestro Instagram"
  >
    <img src="/icons8-instagram-48.svg" alt="Instagram Icon" />
  </a>
</div>

<style>
  .instagram-button {
    border-radius: 50%;
    padding: 10px;
    transition: transform 0.3s ease;
  }

  .instagram-button:hover {
    transform: scale(1.1);
  }

  .instagram-button img {
    width: 40px;
    height: 40px;
  }
</style>
