---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="Interpreters Booth">
	<main>
        <h1>Acerca de...  Interpreters Booth</h1>
        
    </main>
</Layout>
