---
import Layout from '../../layouts/Layout.astro';
import Formulario from '../../components/Formulario.astro';
---

<Layout title="InterpreterStrike">
  <main>
    <Formulario
      title="Contacto"
      nameLabel="Nombre"
      lastNameLabel="Apellidos"
      businessNameLabel="Razón Social"
      telephoneLabel="Teléfono"
      emailLabel="Correo Electrónico"
      commentsLabel="Observaciones"
      submitButtonText="Enviar"
      requiredText="Por favor, complete los campos obligatorios."
    />
  </main>
</Layout>
