---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="Interpreters Booth">
	<main>
    
        <div class="content">
            <h1>Interpretación</h1>
    
            <div class="section">
                <h2>Servicios Profesionales de Interpretación</h2>
                <p>En Interpreters Booth, ofrecemos servicios de interpretación de alta calidad para garantizar una comunicación efectiva y precisa en una amplia gama de contextos. Nuestro equipo de intérpretes experimentados está listo para asistir en conferencias, reuniones de negocios, eventos legales y más.</p>
            </div>
    
            <div class="section">
                <h2>¿Qué Ofrecemos?</h2>
    
                <h3>Interpretación Simultánea</h3>
                <ul>
                    <li><strong>Conferencias:</strong> Interpretación en tiempo real para conferencias y seminarios.</li>
                    <li><strong>Eventos Internacionales:</strong> Asistencia en ferias, congresos y encuentros internacionales.</li>
                    <li><strong>Transmisiones en Vivo:</strong> Interpretación para eventos transmitidos en vivo.</li>
                </ul>
    
                <h3>Interpretación Consecutiva</h3>
                <ul>
                    <li><strong>Reuniones de Negocios:</strong> Interpretación durante reuniones corporativas y negociaciones.</li>
                    <li><strong>Entrevistas:</strong> Asistencia en entrevistas y sesiones de preguntas y respuestas.</li>
                    <li><strong>Presentaciones:</strong> Interpretación para presentaciones y lanzamientos de productos.</li>
                </ul>
    
                <h3>Interpretación Legal</h3>
                <ul>
                    <li><strong>Audiencias Judiciales:</strong> Interpretación en tribunales y procesos judiciales.</li>
                    <li><strong>Asesoría Legal:</strong> Interpretación para consultas y reuniones con abogados.</li>
                    <li><strong>Declaraciones:</strong> Asistencia en la toma de declaraciones y testimonios.</li>
                </ul>
    
                <h3>Interpretación Médica</h3>
                <ul>
                    <li><strong>Consultas Médicas:</strong> Interpretación durante consultas y visitas médicas.</li>
                    <li><strong>Conferencias Médicas:</strong> Asistencia en conferencias y seminarios del sector salud.</li>
                    <li><strong>Sesiones Terapéuticas:</strong> Interpretación para sesiones de terapia y consultas psicológicas.</li>
                </ul>
            </div>
    
        
    
        </div>   
        
    </main>
</Layout>
<style>
    .content {
      background-image: none;
      background-color: rgba(249, 249, 249, 0.659);
      padding: 35px;
    }
  </style>
  