---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Política de Privacidad">
  <main class="content">
    <h2>Política de Privacidad</h1>
    <p>En [Tu Empresa], nos tomamos muy en serio la privacidad de nuestros usuarios. A continuación, describimos qué tipo de información recopilamos, cómo la usamos y cómo protegemos tus datos personales.</p>

    <h2>1. Información que Recopilamos</h2>
    <p>Recopilamos información personal que nos proporcionas directamente, como nombre, correo electrónico y otra información similar cuando te registras o utilizas nuestros servicios.</p>

    <h2>2. Uso de la Información</h2>
    <p>La información que recopilamos es utilizada para proporcionar nuestros servicios, mejorar la experiencia del usuario, y cumplir con nuestras obligaciones legales.</p>

    <h2>3. Seguridad de los Datos</h2>
    <p>Implementamos medidas de seguridad razonables para proteger la información personal que recopilamos contra accesos no autorizados, alteraciones o divulgaciones.</p>

    <h2>4. Tus Derechos</h2>
    <p>Tienes derecho a acceder, corregir y eliminar la información que almacenamos sobre ti. Puedes contactarnos en cualquier momento para ejercer estos derechos.</p>

    <p>Para más información, no dudes en ponerte en contacto con nosotros a través del correo: [tuemail@ejemplo.com]</p>
  </main>
</Layout>

<style>
    .content {
      background-color: rgba(249, 249, 249, 0.659); 
      padding: 35px;
    }   
  
  </style>