---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Servicios de Interpretación en Tiempo Real">
  <main>
    
      <section class="hero">
        <h1>Servicios de Interpretación en Tiempo Real</h1>
        <p>
          Ofrecemos servicios de interpretación simultánea y consecutiva para
          eventos y conferencias.<br> Nuestros intérpretes profesionales están
          disponibles en tiempo real para asegurar una comunicación fluida entre
          idiomas.
        </p>
      </section>
        
        <section class="content">
        <h2>Nuestros Servicios</h2>
        <ol>
          <li>Interpretación Simultánea</li>
          <li>Interpretación Consecutiva</li>
          <li>Interpretación Legal</li>
          <li>Interpretación Médica</li>
        </ol>
      </section>
      
    
  </main>
  <!-- Custom styles for the page -->
<style>
  .hero {
    background-color: #f9f9f9;
    padding: 2rem;
    text-align: center;
  }

 
  /* Sobreescribir el límite de ancho del body y eliminar la imagen de fondo */
  body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/images/diary.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen de fondo */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    
  }
  .content {
    background-image: none;
    background-color: rgba(249, 249, 249, 0.659);
    padding: 35px;
  }  
</style>
</Layout>

