---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions';
import CookieNotice from '../components/CookieNotice.astro';

interface Props {
	title: string;
}
const { title } = Astro.props;
const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<slot />
	
	<CookieNotice />
	
	<Footer />
	</body>
	
</html>

